@{
  Layout = "_Layout";
}

@model Restaurants.Models.Restaurant

<h2>Edit</h2>

<h4>Edit this Restaurant: @Html.DisplayFor(model => model.RestaurantName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ItemId)

  @Html.LabelFor(model => model.RestaurantName)
  @Html.EditorFor(model => model.RestaurantName)

  @Html.LabelFor(model => model.CuisineId)
  @Html.DropDownList("CuisineId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>